<span id="nav-user-name">{{name}}</span>
<a href="create.html" class="btn-nav-primary btn">+ New Post</a>
<a href="profile.html?id={{urlEncode id}}">Profile</a>
<a href="#" id="nav-sign-out">Sign Out</a>
