<a href="create.html" class="btn-nav-primary btn" aria-label="New Post" title="New Post">{{icon "pen-line"}}</a>
<a href="profile.html?id={{urlEncode id}}" aria-label="Profile" title="Profile">{{icon "user"}}</a>
<a href="#" id="nav-sign-out" aria-label="Sign Out" title="Sign Out">{{icon "log-out"}}</a>
