<div class="widget">
  <h3>You</h3>
  <div class="widget-user-name"><a href="profile.html?id={{urlEncode id}}">{{name}}</a></div>
  <div class="widget-actions">
    <a href="create.html" class="btn btn-primary btn-sm">+ New Post</a>
    <a href="profile.html?id={{urlEncode id}}" class="btn btn-secondary btn-sm">Profile</a>
    <button class="btn btn-danger btn-sm" id="sidebar-sign-out">Sign Out</button>
  </div>
</div>
